body {
  font-family: "Gothic A1", sans-serif;
}

.section {
  background: url("../img/bg/photo_2023-03-17_15-33-00.jpg") center center /
    cover no-repeat;
    height: 100vh;
}
.section__contacts {
  background: url("../img/photo_2023-03-17_15-33-01\ \(3\).jpg") center center / cover no-repeat;
  height: 100vh;
}

.section__myworks {
background-color: rgb(91, 96, 97);
padding-top: 60px;

}

.section__poetry {
  background-color: rgb(91, 96, 97);
padding-top: 60px;

}

.poezia {
  color:rgb(53, 3, 3);
  font-style: italic;
  text-align: center;
  font-weight: 600;
  margin: 0;
 

  
}



a {
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:900;
}

.container {
  margin: 0 auto;
  max-width: 960 px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.8;
}



.biogr__me {
    color:#fff;
    max-width: 630px;
    
    font-size: 11px;
    font-weight:700;
    text-transform: uppercase;
    background-color: rgb(5, 4, 22,0.5);
    padding:0 15px 15px 15px;
}

.my__vid {
    margin: 50px auto 10px auto;
}

.shank {
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font-size: 20px;
    padding-bottom: 60px;
    margin: 0 auto;
}
 
.footer {
    background-color: #000;
    color: #fff;
    min-height: 100px;
   
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
  }

  .cont__item1,
  .cont__item2
 {
    margin-right: 40px;
 }

 .telefon__text {
    text-align: center;
    margin-top: 15px;
    color:#fff;
    font-weight: bold;
 }

 .logo {
  position:sticky;
  left:10px;
  top: 800px;

 }